.datatable__container {
    height: 20em;
    overflow-y: auto;

    .datatable {
        th, td {
            padding-left: 5px;
            padding-right: 5px;
            border: 2px solid #768c89;
        }
        td {
            text-align: center;
            border: 2px solid #768c89;
        }
    }
}